<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Lab 5</title>
        <script src="/static/scripts/webgl-utils.js"></script>
        <script src="/static/scripts/webgl-debug.js"></script>
        <script src="/static/scripts/cuon-utils.js"></script>
        <script src="/static/scripts/cuon-matrix.js"></script>
        <script src="/static/scripts/math.js"></script>
        <script src="/static/scripts/gasket5.js"></script>
    </head>
    <body onload="main()">
		<canvas id="webgl" width="512" height="512">
            Please use a browser that supports "canvas"
        </canvas>
        <br>
        <button id="shadeOn">Shading On</button>
        <button id="shadeOff">Shading Off</button>
        <br>
        - Use the buttons above to toggle shading on or off.<br>
		<button id="mipmapOn">Filter On</button>
        <button id="mipmapOff">Filter Off</button>
		<br>
		- Use the buttons above to toggle on or off mipmapping and interpolation of the textures.<br>
        <strong>Instructions:</strong>
        <br>
		- Press the 1, 2 or 3 key to change the sphere texture.<br>
		- Press the 4 key to set the sphere to have no texture.<br>
        - Press the 'a' or 'd' key to look left or right respectively.<br>
        - Press the 'w' or 's' key to move forward or back respectively.<br>
        - Press the 'u' or 'j' key to move the light forward or back respectively.<br>
        - Press the 'h' or 'k' key to move the light left or right respectively.<br>
        - Press the 'o' or 'l' key to move the light up or down respectively.<br>
		- Press the 'f' or 'v' key to move the sphere forward or back respectively.<br>
        - Press the 'c' or 'b' key to move the sphere left or right respectively.<br>
        - Press the 'g' or 'n' key to move the sphere up or down respectively.<br>
        <br>
    </body>
</html>